<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Advisory Board">Advisory Board</label>  
  <div class="col-md-9">
  <input id="Advisory Board" name="Advisory Board" type="text" placeholder="Advisory Board" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="break_even_analysis">Break Even Analysis</label>  
  <div class="col-md-9">
  <input id="break_even_analysis" name="break_even_analysis" type="text" placeholder="Insert the Break Even Analysis" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="business_model">Business Model</label>  
  <div class="col-md-9">
  <input id="business_model" name="business_model" type="text" placeholder="Insert a short description of the Business Model" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="previous_investiments">Previous Investiments</label>  
  <div class="col-md-9">
  <input id="previous_investiments" name="previous_investiments" type="text" placeholder="previous_investiments" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="value_proposition">Value Proposition</label>  
  <input id="value_proposition" name="value_proposition" type="text" placeholder="value_proposition" class="form-control input-md">
  <div class="col-md-9">
    
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
  </div>
</div>
</fieldset>
</form>

