<%= form_for @startup, html: { class: 'form-horizontal' } do |f| %>
  <%= errors_for(@startup) %>
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="title">Title</label>  
  <div class="col-md-4">
  <input id="title" name="startup[title]" type="text" placeholder="Insert the title of the startup" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">Startup Description</label>  
  <div class="col-md-4">
  <input id="description" name="startup[description]" type="text" placeholder="Insert the startup Description" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="video_url">Video Url</label>  
  <div class="col-md-4">
  <input id="video_url" name="startup[video_url]" type="text" placeholder="Insert the vimeo/youtube url" class="form-control input-md">
  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Category</label>
  <div class="col-md-4">
    <select id="subcategory" name="startup[subcategory]" class="form-control">
      <% @categories.each do |category|%>
         <option value=<%=category.id%>><%=category.category%></option>
      <%end%>
    </select>
  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">rank</label>
  <div class="col-md-4">
    <select id="rank" name="startup[rank]" class="form-control">
         <option value="1">rank</option>
    </select>
  </div>
</div>


 <div class="checkbox">
    <label>
      <input id="approved" type="checkbox"> Check me out
    </label>
  </div>

 <div class="checkbox">
    <label>
      <input id="in_the_spot" type="checkbox"> Check me out
    </label>
  </div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="funding_need">Funding Need</label>  
  <div class="col-md-4">
  <input id="funding_need" name="startup[funding_need]" type="text" placeholder="Funding Need" class="form-control input-md">
  </div>
</div>




<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
  </div>
</div>

</fieldset>
<% end %>

