//questo file definisce i margini e alcune caratteristiche di bootstrap su rails

body {
  padding-top: 50px;
  padding-left: 20px;
}
.starter-template {
  padding: 140px 15px;
  text-align: center;
}
